<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="activitiListener" class="hbi.core.workflow.listener.ActivitiListener">
    </bean>
    <bean id="activitiListener1" class="hbi.core.workflow.listener.ActivitiListener1">
    </bean>


   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <property name="defaultEncoding" value="UTF-8"></property>
       <property name="maxInMemorySize" value="5242440"></property>
   </bean>



</beans>